body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.map-wrapper svg {
  max-height: 70vh;
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  left: 0;
  z-index: -1;
}
.customBottomPaper {
  padding: 1.5rem 3rem;
  position: absolute;
  bottom: 1rem;
  width: -webkit-fill-available;
}
.on-boarding {
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  background-color: white;
  z-index: 1000;
}
.on-boarding-content {
  padding: 3rem;
  text-align: center;
}
.on-boarding svg {
  max-height: 25vh;
  max-width: 100%;
}
@media screen and (max-width: 640px) {
  .on-boarding svg {
    max-height: 17vh;
  }
}
.title-wrapper {
  padding: 1rem;
}
/* LEGEND */
.legendItem {
  width: 20px;
  height: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.legends {
  position: absolute;
  top: 50%;
  padding-left: 1rem;
  transform: translateY(-50%);
}
/* HELPERS*/
.d-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-end {
  text-align: end;
}
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pb-mid {
  padding-bottom: 2rem;
}
.pt-high {
  padding-top: 3rem;
}
.mt-low {
  margin-top: 1rem !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}